<a href="https://colab.research.google.com/github/lakho01/watch_your_step/blob/main/DS_Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab1

## Introduction to Jupyter Notebooks

The following is the simplest program ever to exist

In [ ]:
print ("Hello World!")

Hello World!

The following is the output of the first 10 elements of the Fibonacci Sequence

In [ ]:
n1, n2 = 0, 1
count = 0
while count < 10:
  print (n1)
  nth = n1+n2
  n1 = n2
  n2 = nth
  count += 1

0
1
1
2
3
5
8
13
21
34

## Intro to pandas dataframes

### Reading a CSV file into a dataframe

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv("/content/olympics(1).csv")
pd.set_option('display.max_rows',500)
df

                                                0  ...              15
0                                             NaN  ...  Combined total
1                               Afghanistan (AFG)  ...               2
2                                   Algeria (ALG)  ...              15
3                                 Argentina (ARG)  ...              70
4                                   Armenia (ARM)  ...              12
5                         Australasia (ANZ) [ANZ]  ...              12
6                       Australia (AUS) [AUS] [Z]  ...             480
7                                   Austria (AUT)  ...             304
8                                Azerbaijan (AZE)  ...              26
9                                   Bahamas (BAH)  ...              12
10                                  Bahrain (BRN)  ...               1
11                           Barbados (BAR) [BAR]  ...               1
12                                  Belarus (BLR)  ...              90
13                                  Belgium (BEL)  ...             147
14                                  Bermuda (BER)  ...               1
15                        Bohemia (BOH) [BOH] [Z]  ...               4
16                                 Botswana (BOT)  ...               1
17                                   Brazil (BRA)  ...             108
18                British West Indies (BWI) [BWI]  ...               2
19                             Bulgaria (BUL) [H]  ...             220
20                                  Burundi (BDI)  ...               1
21                                 Cameroon (CMR)  ...               5
22                                   Canada (CAN)  ...             449
23                                Chile (CHI) [I]  ...              13
24                              China (CHN) [CHN]  ...             526
25                                 Colombia (COL)  ...              19
26                               Costa Rica (CRC)  ...               4
27                        Ivory Coast (CIV) [CIV]  ...               1
28                                  Croatia (CRO)  ...              34
29                                 Cuba (CUB) [Z]  ...             209
30                                   Cyprus (CYP)  ...               1
31                     Czech Republic (CZE) [CZE]  ...              68
32                     Czechoslovakia (TCH) [TCH]  ...             168
33                              Denmark (DEN) [Z]  ...             180
34                             Djibouti (DJI) [B]  ...               1
35                       Dominican Republic (DOM)  ...               6
36                                  Ecuador (ECU)  ...               2
37                          Egypt (EGY) [EGY] [Z]  ...              26
38                                  Eritrea (ERI)  ...               1
39                                  Estonia (EST)  ...              40
40                                 Ethiopia (ETH)  ...              45
41                                  Finland (FIN)  ...             463
42                       France (FRA) [O] [P] [Z]  ...             780
43                                    Gabon (GAB)  ...               1
44                                  Georgia (GEO)  ...              25
45                        Germany (GER) [GER] [Z]  ...             782
46             United Team of Germany (EUA) [EUA]  ...             137
47                       East Germany (GDR) [GDR]  ...             519
48                       West Germany (FRG) [FRG]  ...             243
49                              Ghana (GHA) [GHA]  ...               4
50                  Great Britain (GBR) [GBR] [Z]  ...             806
51                               Greece (GRE) [Z]  ...             111
52                                  Grenada (GRN)  ...               1
53                                Guatemala (GUA)  ...               1
54                             Guyana (GUY) [GUY]  ...               1
55                                Haiti (HAI) [J]  ...               2
56                          Hong Kong (HKG) [HKG]  ...               3
57                                  Hungary (HUN)  ...             482
58                                  Iceland (ISL)  ...               4
59                                India (IND) [F]  ...              26
60                                Indonesia (INA)  ...              27
61                                 Iran (IRI) [K]  ...              60
62                                     Iraq (IRQ)  ...               1
63                                  Ireland (IRL)  ...              29
64                                   Israel (ISR)  ...               7
65                            Italy (ITA) [M] [S]  ...             663
66                            Jamaica (JAM) [JAM]  ...              67
67                                    Japan (JPN)  ...             443
68                               Kazakhstan (KAZ)  ...              59
69                                    Kenya (KEN)  ...              86
70                              North Korea (PRK)  ...              49
71                              South Korea (KOR)  ...             296
72                                   Kuwait (KUW)  ...               2
73                               Kyrgyzstan (KGZ)  ...               3
74                                   Latvia (LAT)  ...              26
75                                  Lebanon (LIB)  ...               4
76                            Liechtenstein (LIE)  ...               9
77                                Lithuania (LTU)  ...              21
78                           Luxembourg (LUX) [O]  ...               4
79                                Macedonia (MKD)  ...               1
80                           Malaysia (MAS) [MAS]  ...               6
81                                Mauritius (MRI)  ...               1
82                                   Mexico (MEX)  ...              62
83                                  Moldova (MDA)  ...               7
84                                 Mongolia (MGL)  ...              24
85                               Montenegro (MNE)  ...               1
86                                  Morocco (MAR)  ...              22
87                               Mozambique (MOZ)  ...               2
88                                  Namibia (NAM)  ...               4
89                          Netherlands (NED) [Z]  ...             376
90           Netherlands Antilles (AHO) [AHO] [I]  ...               1
91                        New Zealand (NZL) [NZL]  ...             100
92                                    Niger (NIG)  ...               1
93                                  Nigeria (NGR)  ...              23
94                               Norway (NOR) [Q]  ...             477
95                                 Pakistan (PAK)  ...              10
96                                   Panama (PAN)  ...               3
97                                 Paraguay (PAR)  ...               1
98                                 Peru (PER) [L]  ...               4
99                              Philippines (PHI)  ...               9
100                                  Poland (POL)  ...             291
101                                Portugal (POR)  ...              23
102                             Puerto Rico (PUR)  ...               8
103                                   Qatar (QAT)  ...               4
104                                 Romania (ROU)  ...             302
105                            Russia (RUS) [RUS]  ...             519
106                    Russian Empire (RU1) [RU1]  ...               8
107                      Soviet Union (URS) [URS]  ...            1204
108                      Unified Team (EUN) [EUN]  ...             135
109                            Saudi Arabia (KSA)  ...               3
110                                 Senegal (SEN)  ...               1
111                            Serbia (SRB) [SRB]  ...               7
112             Serbia and Montenegro (SCG) [SCG]  ...               9
113                               Singapore (SIN)  ...               4
114                          Slovakia (SVK) [SVK]  ...              29
115                                Slovenia (SLO)  ...              34
116                            South Africa (RSA)  ...              76
117                               Spain (ESP) [Z]  ...             133
118                         Sri Lanka (SRI) [SRI]  ...               2
119                                   Sudan (SUD)  ...               1
120                            Suriname (SUR) [E]  ...               2
121                              Sweden (SWE) [Z]  ...             627
122                             Switzerland (SUI)  ...             323
123                                   Syria (SYR)  ...               3
124             Chinese Taipei (TPE) [TPE] [TPE2]  ...              21
125                              Tajikistan (TJK)  ...               3
126                          Tanzania (TAN) [TAN]  ...               2
127                                Thailand (THA)  ...              24
128                                    Togo (TOG)  ...               1
129                                   Tonga (TGA)  ...               1
130               Trinidad and Tobago (TRI) [TRI]  ...              18
131                                 Tunisia (TUN)  ...              10
132                                  Turkey (TUR)  ...              88
133                                  Uganda (UGA)  ...               7
134                                 Ukraine (UKR)  ...             122
135                    United Arab Emirates (UAE)  ...               1
136           United States (USA) [P] [Q] [R] [Z]  ...            2681
137                                 Uruguay (URU)  ...              10
138                              Uzbekistan (UZB)  ...              21
139                               Venezuela (VEN)  ...              12
140                                 Vietnam (VIE)  ...               2
141                          Virgin Islands (ISV)  ...               1
142                        Yugoslavia (YUG) [YUG]  ...              87
143  Independent Olympic Participants (IOP) [IOP]  ...               3
144                            Zambia (ZAM) [ZAM]  ...               2
145                          Zimbabwe (ZIM) [ZIM]  ...               8
146                        Mixed team (ZZX) [ZZX]  ...              17
147                                        Totals  ...           17579

[148 rows x 16 columns]

###Cleaning data by skipping rows and indexing columns

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("/content/olympics(1).csv",skiprows=1, index_col=0)
pd.set_option('display.max_rows',500)
df

                                              № Summer  ...  Combined total
Afghanistan (AFG)                                   13  ...               2
Algeria (ALG)                                       12  ...              15
Argentina (ARG)                                     23  ...              70
Armenia (ARM)                                        5  ...              12
Australasia (ANZ) [ANZ]                              2  ...              12
Australia (AUS) [AUS] [Z]                           25  ...             480
Austria (AUT)                                       26  ...             304
Azerbaijan (AZE)                                     5  ...              26
Bahamas (BAH)                                       15  ...              12
Bahrain (BRN)                                        8  ...               1
Barbados (BAR) [BAR]                                11  ...               1
Belarus (BLR)                                        5  ...              90
Belgium (BEL)                                       25  ...             147
Bermuda (BER)                                       17  ...               1
Bohemia (BOH) [BOH] [Z]                              3  ...               4
Botswana (BOT)                                       9  ...               1
Brazil (BRA)                                        21  ...             108
British West Indies (BWI) [BWI]                      1  ...               2
Bulgaria (BUL) [H]                                  19  ...             220
Burundi (BDI)                                        5  ...               1
Cameroon (CMR)                                      13  ...               5
Canada (CAN)                                        25  ...             449
Chile (CHI) [I]                                     22  ...              13
China (CHN) [CHN]                                    9  ...             526
Colombia (COL)                                      18  ...              19
Costa Rica (CRC)                                    14  ...               4
Ivory Coast (CIV) [CIV]                             12  ...               1
Croatia (CRO)                                        6  ...              34
Cuba (CUB) [Z]                                      19  ...             209
Cyprus (CYP)                                         9  ...               1
Czech Republic (CZE) [CZE]                           5  ...              68
Czechoslovakia (TCH) [TCH]                          16  ...             168
Denmark (DEN) [Z]                                   26  ...             180
Djibouti (DJI) [B]                                   7  ...               1
Dominican Republic (DOM)                            13  ...               6
Ecuador (ECU)                                       13  ...               2
Egypt (EGY) [EGY] [Z]                               21  ...              26
Eritrea (ERI)                                        4  ...               1
Estonia (EST)                                       11  ...              40
Ethiopia (ETH)                                      12  ...              45
Finland (FIN)                                       24  ...             463
France (FRA) [O] [P] [Z]                            27  ...             780
Gabon (GAB)                                          9  ...               1
Georgia (GEO)                                        5  ...              25
Germany (GER) [GER] [Z]                             15  ...             782
United Team of Germany (EUA) [EUA]                   3  ...             137
East Germany (GDR) [GDR]                             5  ...             519
West Germany (FRG) [FRG]                             5  ...             243
Ghana (GHA) [GHA]                                   13  ...               4
Great Britain (GBR) [GBR] [Z]                       27  ...             806
Greece (GRE) [Z]                                    27  ...             111
Grenada (GRN)                                        8  ...               1
Guatemala (GUA)                                     13  ...               1
Guyana (GUY) [GUY]                                  16  ...               1
Haiti (HAI) [J]                                     14  ...               2
Hong Kong (HKG) [HKG]                               15  ...               3
Hungary (HUN)                                       25  ...             482
Iceland (ISL)                                       19  ...               4
India (IND) [F]                                     23  ...              26
Indonesia (INA)                                     14  ...              27
Iran (IRI) [K]                                      15  ...              60
Iraq (IRQ)                                          13  ...               1
Ireland (IRL)                                       20  ...              29
Israel (ISR)                                        15  ...               7
Italy (ITA) [M] [S]                                 26  ...             663
Jamaica (JAM) [JAM]                                 16  ...              67
Japan (JPN)                                         21  ...             443
Kazakhstan (KAZ)                                     5  ...              59
Kenya (KEN)                                         13  ...              86
North Korea (PRK)                                    9  ...              49
South Korea (KOR)                                   16  ...             296
Kuwait (KUW)                                        12  ...               2
Kyrgyzstan (KGZ)                                     5  ...               3
Latvia (LAT)                                        10  ...              26
Lebanon (LIB)                                       16  ...               4
Liechtenstein (LIE)                                 16  ...               9
Lithuania (LTU)                                      8  ...              21
Luxembourg (LUX) [O]                                22  ...               4
Macedonia (MKD)                                      5  ...               1
Malaysia (MAS) [MAS]                                12  ...               6
Mauritius (MRI)                                      8  ...               1
Mexico (MEX)                                        22  ...              62
Moldova (MDA)                                        5  ...               7
Mongolia (MGL)                                      12  ...              24
Montenegro (MNE)                                     2  ...               1
Morocco (MAR)                                       13  ...              22
Mozambique (MOZ)                                     9  ...               2
Namibia (NAM)                                        6  ...               4
Netherlands (NED) [Z]                               25  ...             376
Netherlands Antilles (AHO) [AHO] [I]                13  ...               1
New Zealand (NZL) [NZL]                             22  ...             100
Niger (NIG)                                         11  ...               1
Nigeria (NGR)                                       15  ...              23
Norway (NOR) [Q]                                    24  ...             477
Pakistan (PAK)                                      16  ...              10
Panama (PAN)                                        16  ...               3
Paraguay (PAR)                                      11  ...               1
Peru (PER) [L]                                      17  ...               4
Philippines (PHI)                                   20  ...               9
Poland (POL)                                        20  ...             291
Portugal (POR)                                      23  ...              23
Puerto Rico (PUR)                                   17  ...               8
Qatar (QAT)                                          8  ...               4
Romania (ROU)                                       20  ...             302
Russia (RUS) [RUS]                                   5  ...             519
Russian Empire (RU1) [RU1]                           3  ...               8
Soviet Union (URS) [URS]                             9  ...            1204
Unified Team (EUN) [EUN]                             1  ...             135
Saudi Arabia (KSA)                                  10  ...               3
Senegal (SEN)                                       13  ...               1
Serbia (SRB) [SRB]                                   3  ...               7
Serbia and Montenegro (SCG) [SCG]                    3  ...               9
Singapore (SIN)                                     15  ...               4
Slovakia (SVK) [SVK]                                 5  ...              29
Slovenia (SLO)                                       6  ...              34
South Africa (RSA)                                  18  ...              76
Spain (ESP) [Z]                                     22  ...             133
Sri Lanka (SRI) [SRI]                               16  ...               2
Sudan (SUD)                                         11  ...               1
Suriname (SUR) [E]                                  11  ...               2
Sweden (SWE) [Z]                                    26  ...             627
Switzerland (SUI)                                   27  ...             323
Syria (SYR)                                         12  ...               3
Chinese Taipei (TPE) [TPE] [TPE2]                   13  ...              21
Tajikistan (TJK)                                     5  ...               3
Tanzania (TAN) [TAN]                                12  ...               2
Thailand (THA)                                      15  ...              24
Togo (TOG)                                           9  ...               1
Tonga (TGA)                                          8  ...               1
Trinidad and Tobago (TRI) [TRI]                     16  ...              18
Tunisia (TUN)                                       13  ...              10
Turkey (TUR)                                        21  ...              88
Uganda (UGA)                                        14  ...               7
Ukraine (UKR)                                        5  ...             122
United Arab Emirates (UAE)                           8  ...               1
United States (USA) [P] [Q] [R] [Z]                 26  ...            2681
Uruguay (URU)                                       20  ...              10
Uzbekistan (UZB)                                     5  ...              21
Venezuela (VEN)                                     17  ...              12
Vietnam (VIE)                                       14  ...               2
Virgin Islands (ISV)                                11  ...               1
Yugoslavia (YUG) [YUG]                              16  ...              87
Independent Olympic Participants (IOP) [IOP]         1  ...               3
Zambia (ZAM) [ZAM]                                  12  ...               2
Zimbabwe (ZIM) [ZIM]                                12  ...               8
Mixed team (ZZX) [ZZX]                               3  ...              17
Totals                                              27  ...           17579

[147 rows x 15 columns]

### Viewing columns in the CSV file

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("/content/olympics(1).csv",skiprows=1, index_col=0)
pd.set_option('display.max_rows',500)
df.columns

Index(['№ Summer', '01 !', '02 !', '03 !', 'Total', '№ Winter', '01 !.1',
       '02 !.1', '03 !.1', 'Total.1', '№ Games', '01 !.2', '02 !.2', '03 !.2',
       'Combined total'],
      dtype='object')

### Rename Method

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("/content/olympics(1).csv",skiprows=1, index_col=0)
pd.set_option('display.max_rows',500)
df.rename(
    columns=({'01 !':'GS', '02 !':'SS', '03 !':'BS', '!':'S', '01 !.1':'GW', '02 !.1':'SW', '03 !.1':'BW', '01 !.2':'GT', '02 !.2':'ST', '03 !.2':'BT'}),inplace=True,
)
df

                                              № Summer  ...  Combined total
Afghanistan (AFG)                                   13  ...               2
Algeria (ALG)                                       12  ...              15
Argentina (ARG)                                     23  ...              70
Armenia (ARM)                                        5  ...              12
Australasia (ANZ) [ANZ]                              2  ...              12
Australia (AUS) [AUS] [Z]                           25  ...             480
Austria (AUT)                                       26  ...             304
Azerbaijan (AZE)                                     5  ...              26
Bahamas (BAH)                                       15  ...              12
Bahrain (BRN)                                        8  ...               1
Barbados (BAR) [BAR]                                11  ...               1
Belarus (BLR)                                        5  ...              90
Belgium (BEL)                                       25  ...             147
Bermuda (BER)                                       17  ...               1
Bohemia (BOH) [BOH] [Z]                              3  ...               4
Botswana (BOT)                                       9  ...               1
Brazil (BRA)                                        21  ...             108
British West Indies (BWI) [BWI]                      1  ...               2
Bulgaria (BUL) [H]                                  19  ...             220
Burundi (BDI)                                        5  ...               1
Cameroon (CMR)                                      13  ...               5
Canada (CAN)                                        25  ...             449
Chile (CHI) [I]                                     22  ...              13
China (CHN) [CHN]                                    9  ...             526
Colombia (COL)                                      18  ...              19
Costa Rica (CRC)                                    14  ...               4
Ivory Coast (CIV) [CIV]                             12  ...               1
Croatia (CRO)                                        6  ...              34
Cuba (CUB) [Z]                                      19  ...             209
Cyprus (CYP)                                         9  ...               1
Czech Republic (CZE) [CZE]                           5  ...              68
Czechoslovakia (TCH) [TCH]                          16  ...             168
Denmark (DEN) [Z]                                   26  ...             180
Djibouti (DJI) [B]                                   7  ...               1
Dominican Republic (DOM)                            13  ...               6
Ecuador (ECU)                                       13  ...               2
Egypt (EGY) [EGY] [Z]                               21  ...              26
Eritrea (ERI)                                        4  ...               1
Estonia (EST)                                       11  ...              40
Ethiopia (ETH)                                      12  ...              45
Finland (FIN)                                       24  ...             463
France (FRA) [O] [P] [Z]                            27  ...             780
Gabon (GAB)                                          9  ...               1
Georgia (GEO)                                        5  ...              25
Germany (GER) [GER] [Z]                             15  ...             782
United Team of Germany (EUA) [EUA]                   3  ...             137
East Germany (GDR) [GDR]                             5  ...             519
West Germany (FRG) [FRG]                             5  ...             243
Ghana (GHA) [GHA]                                   13  ...               4
Great Britain (GBR) [GBR] [Z]                       27  ...             806
Greece (GRE) [Z]                                    27  ...             111
Grenada (GRN)                                        8  ...               1
Guatemala (GUA)                                     13  ...               1
Guyana (GUY) [GUY]                                  16  ...               1
Haiti (HAI) [J]                                     14  ...               2
Hong Kong (HKG) [HKG]                               15  ...               3
Hungary (HUN)                                       25  ...             482
Iceland (ISL)                                       19  ...               4
India (IND) [F]                                     23  ...              26
Indonesia (INA)                                     14  ...              27
Iran (IRI) [K]                                      15  ...              60
Iraq (IRQ)                                          13  ...               1
Ireland (IRL)                                       20  ...              29
Israel (ISR)                                        15  ...               7
Italy (ITA) [M] [S]                                 26  ...             663
Jamaica (JAM) [JAM]                                 16  ...              67
Japan (JPN)                                         21  ...             443
Kazakhstan (KAZ)                                     5  ...              59
Kenya (KEN)                                         13  ...              86
North Korea (PRK)                                    9  ...              49
South Korea (KOR)                                   16  ...             296
Kuwait (KUW)                                        12  ...               2
Kyrgyzstan (KGZ)                                     5  ...               3
Latvia (LAT)                                        10  ...              26
Lebanon (LIB)                                       16  ...               4
Liechtenstein (LIE)                                 16  ...               9
Lithuania (LTU)                                      8  ...              21
Luxembourg (LUX) [O]                                22  ...               4
Macedonia (MKD)                                      5  ...               1
Malaysia (MAS) [MAS]                                12  ...               6
Mauritius (MRI)                                      8  ...               1
Mexico (MEX)                                        22  ...              62
Moldova (MDA)                                        5  ...               7
Mongolia (MGL)                                      12  ...              24
Montenegro (MNE)                                     2  ...               1
Morocco (MAR)                                       13  ...              22
Mozambique (MOZ)                                     9  ...               2
Namibia (NAM)                                        6  ...               4
Netherlands (NED) [Z]                               25  ...             376
Netherlands Antilles (AHO) [AHO] [I]                13  ...               1
New Zealand (NZL) [NZL]                             22  ...             100
Niger (NIG)                                         11  ...               1
Nigeria (NGR)                                       15  ...              23
Norway (NOR) [Q]                                    24  ...             477
Pakistan (PAK)                                      16  ...              10
Panama (PAN)                                        16  ...               3
Paraguay (PAR)                                      11  ...               1
Peru (PER) [L]                                      17  ...               4
Philippines (PHI)                                   20  ...               9
Poland (POL)                                        20  ...             291
Portugal (POR)                                      23  ...              23
Puerto Rico (PUR)                                   17  ...               8
Qatar (QAT)                                          8  ...               4
Romania (ROU)                                       20  ...             302
Russia (RUS) [RUS]                                   5  ...             519
Russian Empire (RU1) [RU1]                           3  ...               8
Soviet Union (URS) [URS]                             9  ...            1204
Unified Team (EUN) [EUN]                             1  ...             135
Saudi Arabia (KSA)                                  10  ...               3
Senegal (SEN)                                       13  ...               1
Serbia (SRB) [SRB]                                   3  ...               7
Serbia and Montenegro (SCG) [SCG]                    3  ...               9
Singapore (SIN)                                     15  ...               4
Slovakia (SVK) [SVK]                                 5  ...              29
Slovenia (SLO)                                       6  ...              34
South Africa (RSA)                                  18  ...              76
Spain (ESP) [Z]                                     22  ...             133
Sri Lanka (SRI) [SRI]                               16  ...               2
Sudan (SUD)                                         11  ...               1
Suriname (SUR) [E]                                  11  ...               2
Sweden (SWE) [Z]                                    26  ...             627
Switzerland (SUI)                                   27  ...             323
Syria (SYR)                                         12  ...               3
Chinese Taipei (TPE) [TPE] [TPE2]                   13  ...              21
Tajikistan (TJK)                                     5  ...               3
Tanzania (TAN) [TAN]                                12  ...               2
Thailand (THA)                                      15  ...              24
Togo (TOG)                                           9  ...               1
Tonga (TGA)                                          8  ...               1
Trinidad and Tobago (TRI) [TRI]                     16  ...              18
Tunisia (TUN)                                       13  ...              10
Turkey (TUR)                                        21  ...              88
Uganda (UGA)                                        14  ...               7
Ukraine (UKR)                                        5  ...             122
United Arab Emirates (UAE)                           8  ...               1
United States (USA) [P] [Q] [R] [Z]                 26  ...            2681
Uruguay (URU)                                       20  ...              10
Uzbekistan (UZB)                                     5  ...              21
Venezuela (VEN)                                     17  ...              12
Vietnam (VIE)                                       14  ...               2
Virgin Islands (ISV)                                11  ...               1
Yugoslavia (YUG) [YUG]                              16  ...              87
Independent Olympic Participants (IOP) [IOP]         1  ...               3
Zambia (ZAM) [ZAM]                                  12  ...               2
Zimbabwe (ZIM) [ZIM]                                12  ...               8
Mixed team (ZZX) [ZZX]                               3  ...              17
Totals                                              27  ...           17579

[147 rows x 15 columns]

### Navigating cells, columns and rows

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("/content/olympics(1).csv",skiprows=1, index_col=0)
pd.set_option('display.max_rows',500)
df.rename(
    columns=({'01 !':'GS', '02 !':'SS', '03 !':'BS', '!':'S', '01 !.1':'GW', '02 !.1':'SW', '03 !.1':'BW', '01 !.2':'GT', '02 !.2':'ST', '03 !.2':'BT', 'Total':'TS', 'Total.1':'TW'}),inplace=True,
)
df[['TS','TW']]

                                                 TS    TW
Afghanistan (AFG)                                 2     0
Algeria (ALG)                                    15     0
Argentina (ARG)                                  70     0
Armenia (ARM)                                    12     0
Australasia (ANZ) [ANZ]                          12     0
Australia (AUS) [AUS] [Z]                       468    12
Austria (AUT)                                    86   218
Azerbaijan (AZE)                                 26     0
Bahamas (BAH)                                    12     0
Bahrain (BRN)                                     1     0
Barbados (BAR) [BAR]                              1     0
Belarus (BLR)                                    75    15
Belgium (BEL)                                   142     5
Bermuda (BER)                                     1     0
Bohemia (BOH) [BOH] [Z]                           4     0
Botswana (BOT)                                    1     0
Brazil (BRA)                                    108     0
British West Indies (BWI) [BWI]                   2     0
Bulgaria (BUL) [H]                              214     6
Burundi (BDI)                                     1     0
Cameroon (CMR)                                    5     0
Canada (CAN)                                    279   170
Chile (CHI) [I]                                  13     0
China (CHN) [CHN]                               473    53
Colombia (COL)                                   19     0
Costa Rica (CRC)                                  4     0
Ivory Coast (CIV) [CIV]                           1     0
Croatia (CRO)                                    23    11
Cuba (CUB) [Z]                                  209     0
Cyprus (CYP)                                      1     0
Czech Republic (CZE) [CZE]                       44    24
Czechoslovakia (TCH) [TCH]                      143    25
Denmark (DEN) [Z]                               179     1
Djibouti (DJI) [B]                                1     0
Dominican Republic (DOM)                          6     0
Ecuador (ECU)                                     2     0
Egypt (EGY) [EGY] [Z]                            26     0
Eritrea (ERI)                                     1     0
Estonia (EST)                                    33     7
Ethiopia (ETH)                                   45     0
Finland (FIN)                                   302   161
France (FRA) [O] [P] [Z]                        671   109
Gabon (GAB)                                       1     0
Georgia (GEO)                                    25     0
Germany (GER) [GER] [Z]                         573   209
United Team of Germany (EUA) [EUA]              118    19
East Germany (GDR) [GDR]                        409   110
West Germany (FRG) [FRG]                        204    39
Ghana (GHA) [GHA]                                 4     0
Great Britain (GBR) [GBR] [Z]                   780    26
Greece (GRE) [Z]                                111     0
Grenada (GRN)                                     1     0
Guatemala (GUA)                                   1     0
Guyana (GUY) [GUY]                                1     0
Haiti (HAI) [J]                                   2     0
Hong Kong (HKG) [HKG]                             3     0
Hungary (HUN)                                   476     6
Iceland (ISL)                                     4     0
India (IND) [F]                                  26     0
Indonesia (INA)                                  27     0
Iran (IRI) [K]                                   60     0
Iraq (IRQ)                                        1     0
Ireland (IRL)                                    29     0
Israel (ISR)                                      7     0
Italy (ITA) [M] [S]                             549   114
Jamaica (JAM) [JAM]                              67     0
Japan (JPN)                                     398    45
Kazakhstan (KAZ)                                 52     7
Kenya (KEN)                                      86     0
North Korea (PRK)                                47     2
South Korea (KOR)                               243    53
Kuwait (KUW)                                      2     0
Kyrgyzstan (KGZ)                                  3     0
Latvia (LAT)                                     19     7
Lebanon (LIB)                                     4     0
Liechtenstein (LIE)                               0     9
Lithuania (LTU)                                  21     0
Luxembourg (LUX) [O]                              2     2
Macedonia (MKD)                                   1     0
Malaysia (MAS) [MAS]                              6     0
Mauritius (MRI)                                   1     0
Mexico (MEX)                                     62     0
Moldova (MDA)                                     7     0
Mongolia (MGL)                                   24     0
Montenegro (MNE)                                  1     0
Morocco (MAR)                                    22     0
Mozambique (MOZ)                                  2     0
Namibia (NAM)                                     4     0
Netherlands (NED) [Z]                           266   110
Netherlands Antilles (AHO) [AHO] [I]              1     0
New Zealand (NZL) [NZL]                          99     1
Niger (NIG)                                       1     0
Nigeria (NGR)                                    23     0
Norway (NOR) [Q]                                148   329
Pakistan (PAK)                                   10     0
Panama (PAN)                                      3     0
Paraguay (PAR)                                    1     0
Peru (PER) [L]                                    4     0
Philippines (PHI)                                 9     0
Poland (POL)                                    271    20
Portugal (POR)                                   23     0
Puerto Rico (PUR)                                 8     0
Qatar (QAT)                                       4     0
Romania (ROU)                                   301     1
Russia (RUS) [RUS]                              395   124
Russian Empire (RU1) [RU1]                        8     0
Soviet Union (URS) [URS]                       1010   194
Unified Team (EUN) [EUN]                        112    23
Saudi Arabia (KSA)                                3     0
Senegal (SEN)                                     1     0
Serbia (SRB) [SRB]                                7     0
Serbia and Montenegro (SCG) [SCG]                 9     0
Singapore (SIN)                                   4     0
Slovakia (SVK) [SVK]                             24     5
Slovenia (SLO)                                   19    15
South Africa (RSA)                               76     0
Spain (ESP) [Z]                                 131     2
Sri Lanka (SRI) [SRI]                             2     0
Sudan (SUD)                                       1     0
Suriname (SUR) [E]                                2     0
Sweden (SWE) [Z]                                483   144
Switzerland (SUI)                               185   138
Syria (SYR)                                       3     0
Chinese Taipei (TPE) [TPE] [TPE2]                21     0
Tajikistan (TJK)                                  3     0
Tanzania (TAN) [TAN]                              2     0
Thailand (THA)                                   24     0
Togo (TOG)                                        1     0
Tonga (TGA)                                       1     0
Trinidad and Tobago (TRI) [TRI]                  18     0
Tunisia (TUN)                                    10     0
Turkey (TUR)                                     88     0
Uganda (UGA)                                      7     0
Ukraine (UKR)                                   115     7
United Arab Emirates (UAE)                        1     0
United States (USA) [P] [Q] [R] [Z]            2399   282
Uruguay (URU)                                    10     0
Uzbekistan (UZB)                                 20     1
Venezuela (VEN)                                  12     0
Vietnam (VIE)                                     2     0
Virgin Islands (ISV)                              1     0
Yugoslavia (YUG) [YUG]                           83     4
Independent Olympic Participants (IOP) [IOP]      3     0
Zambia (ZAM) [ZAM]                                2     0
Zimbabwe (ZIM) [ZIM]                              8     0
Mixed team (ZZX) [ZZX]                           17     0
Totals                                        14714  2865

### Indexing Individual Cells and Groups

### Using `loc`

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("/content/olympics(1).csv",skiprows=1, index_col=0)
pd.set_option('display.max_rows',500)
df.rename(
    columns=({'01 !':'GS', '02 !':'SS', '03 !':'BS', '!':'S', '01 !.1':'GW', '02 !.1':'SW', '03 !.1':'BW', '01 !.2':'GT', '02 !.2':'ST', '03 !.2':'BT', 'Total':'TS', 'Total.1':'TW'}),inplace=True,
)
df.loc[:] # Is not correctly working (https://towardsdatascience.com/how-to-use-loc-and-iloc-for-selecting-data-in-pandas-bd09cb4c3d79)

                                              № Summer  ...  Combined total
Afghanistan (AFG)                                   13  ...               2
Algeria (ALG)                                       12  ...              15
Argentina (ARG)                                     23  ...              70
Armenia (ARM)                                        5  ...              12
Australasia (ANZ) [ANZ]                              2  ...              12
Australia (AUS) [AUS] [Z]                           25  ...             480
Austria (AUT)                                       26  ...             304
Azerbaijan (AZE)                                     5  ...              26
Bahamas (BAH)                                       15  ...              12
Bahrain (BRN)                                        8  ...               1
Barbados (BAR) [BAR]                                11  ...               1
Belarus (BLR)                                        5  ...              90
Belgium (BEL)                                       25  ...             147
Bermuda (BER)                                       17  ...               1
Bohemia (BOH) [BOH] [Z]                              3  ...               4
Botswana (BOT)                                       9  ...               1
Brazil (BRA)                                        21  ...             108
British West Indies (BWI) [BWI]                      1  ...               2
Bulgaria (BUL) [H]                                  19  ...             220
Burundi (BDI)                                        5  ...               1
Cameroon (CMR)                                      13  ...               5
Canada (CAN)                                        25  ...             449
Chile (CHI) [I]                                     22  ...              13
China (CHN) [CHN]                                    9  ...             526
Colombia (COL)                                      18  ...              19
Costa Rica (CRC)                                    14  ...               4
Ivory Coast (CIV) [CIV]                             12  ...               1
Croatia (CRO)                                        6  ...              34
Cuba (CUB) [Z]                                      19  ...             209
Cyprus (CYP)                                         9  ...               1
Czech Republic (CZE) [CZE]                           5  ...              68
Czechoslovakia (TCH) [TCH]                          16  ...             168
Denmark (DEN) [Z]                                   26  ...             180
Djibouti (DJI) [B]                                   7  ...               1
Dominican Republic (DOM)                            13  ...               6
Ecuador (ECU)                                       13  ...               2
Egypt (EGY) [EGY] [Z]                               21  ...              26
Eritrea (ERI)                                        4  ...               1
Estonia (EST)                                       11  ...              40
Ethiopia (ETH)                                      12  ...              45
Finland (FIN)                                       24  ...             463
France (FRA) [O] [P] [Z]                            27  ...             780
Gabon (GAB)                                          9  ...               1
Georgia (GEO)                                        5  ...              25
Germany (GER) [GER] [Z]                             15  ...             782
United Team of Germany (EUA) [EUA]                   3  ...             137
East Germany (GDR) [GDR]                             5  ...             519
West Germany (FRG) [FRG]                             5  ...             243
Ghana (GHA) [GHA]                                   13  ...               4
Great Britain (GBR) [GBR] [Z]                       27  ...             806
Greece (GRE) [Z]                                    27  ...             111
Grenada (GRN)                                        8  ...               1
Guatemala (GUA)                                     13  ...               1
Guyana (GUY) [GUY]                                  16  ...               1
Haiti (HAI) [J]                                     14  ...               2
Hong Kong (HKG) [HKG]                               15  ...               3
Hungary (HUN)                                       25  ...             482
Iceland (ISL)                                       19  ...               4
India (IND) [F]                                     23  ...              26
Indonesia (INA)                                     14  ...              27
Iran (IRI) [K]                                      15  ...              60
Iraq (IRQ)                                          13  ...               1
Ireland (IRL)                                       20  ...              29
Israel (ISR)                                        15  ...               7
Italy (ITA) [M] [S]                                 26  ...             663
Jamaica (JAM) [JAM]                                 16  ...              67
Japan (JPN)                                         21  ...             443
Kazakhstan (KAZ)                                     5  ...              59
Kenya (KEN)                                         13  ...              86
North Korea (PRK)                                    9  ...              49
South Korea (KOR)                                   16  ...             296
Kuwait (KUW)                                        12  ...               2
Kyrgyzstan (KGZ)                                     5  ...               3
Latvia (LAT)                                        10  ...              26
Lebanon (LIB)                                       16  ...               4
Liechtenstein (LIE)                                 16  ...               9
Lithuania (LTU)                                      8  ...              21
Luxembourg (LUX) [O]                                22  ...               4
Macedonia (MKD)                                      5  ...               1
Malaysia (MAS) [MAS]                                12  ...               6
Mauritius (MRI)                                      8  ...               1
Mexico (MEX)                                        22  ...              62
Moldova (MDA)                                        5  ...               7
Mongolia (MGL)                                      12  ...              24
Montenegro (MNE)                                     2  ...               1
Morocco (MAR)                                       13  ...              22
Mozambique (MOZ)                                     9  ...               2
Namibia (NAM)                                        6  ...               4
Netherlands (NED) [Z]                               25  ...             376
Netherlands Antilles (AHO) [AHO] [I]                13  ...               1
New Zealand (NZL) [NZL]                             22  ...             100
Niger (NIG)                                         11  ...               1
Nigeria (NGR)                                       15  ...              23
Norway (NOR) [Q]                                    24  ...             477
Pakistan (PAK)                                      16  ...              10
Panama (PAN)                                        16  ...               3
Paraguay (PAR)                                      11  ...               1
Peru (PER) [L]                                      17  ...               4
Philippines (PHI)                                   20  ...               9
Poland (POL)                                        20  ...             291
Portugal (POR)                                      23  ...              23
Puerto Rico (PUR)                                   17  ...               8
Qatar (QAT)                                          8  ...               4
Romania (ROU)                                       20  ...             302
Russia (RUS) [RUS]                                   5  ...             519
Russian Empire (RU1) [RU1]                           3  ...               8
Soviet Union (URS) [URS]                             9  ...            1204
Unified Team (EUN) [EUN]                             1  ...             135
Saudi Arabia (KSA)                                  10  ...               3
Senegal (SEN)                                       13  ...               1
Serbia (SRB) [SRB]                                   3  ...               7
Serbia and Montenegro (SCG) [SCG]                    3  ...               9
Singapore (SIN)                                     15  ...               4
Slovakia (SVK) [SVK]                                 5  ...              29
Slovenia (SLO)                                       6  ...              34
South Africa (RSA)                                  18  ...              76
Spain (ESP) [Z]                                     22  ...             133
Sri Lanka (SRI) [SRI]                               16  ...               2
Sudan (SUD)                                         11  ...               1
Suriname (SUR) [E]                                  11  ...               2
Sweden (SWE) [Z]                                    26  ...             627
Switzerland (SUI)                                   27  ...             323
Syria (SYR)                                         12  ...               3
Chinese Taipei (TPE) [TPE] [TPE2]                   13  ...              21
Tajikistan (TJK)                                     5  ...               3
Tanzania (TAN) [TAN]                                12  ...               2
Thailand (THA)                                      15  ...              24
Togo (TOG)                                           9  ...               1
Tonga (TGA)                                          8  ...               1
Trinidad and Tobago (TRI) [TRI]                     16  ...              18
Tunisia (TUN)                                       13  ...              10
Turkey (TUR)                                        21  ...              88
Uganda (UGA)                                        14  ...               7
Ukraine (UKR)                                        5  ...             122
United Arab Emirates (UAE)                           8  ...               1
United States (USA) [P] [Q] [R] [Z]                 26  ...            2681
Uruguay (URU)                                       20  ...              10
Uzbekistan (UZB)                                     5  ...              21
Venezuela (VEN)                                     17  ...              12
Vietnam (VIE)                                       14  ...               2
Virgin Islands (ISV)                                11  ...               1
Yugoslavia (YUG) [YUG]                              16  ...              87
Independent Olympic Participants (IOP) [IOP]         1  ...               3
Zambia (ZAM) [ZAM]                                  12  ...               2
Zimbabwe (ZIM) [ZIM]                                12  ...               8
Mixed team (ZZX) [ZZX]                               3  ...              17
Totals                                              27  ...           17579

[147 rows x 15 columns]

### Using iloc

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("/content/olympics(1).csv",skiprows=1, index_col=0)
pd.set_option('display.max_rows',500)
df.rename(
    columns=({'01 !':'GS', '02 !':'SS', '03 !':'BS', '!':'S', '01 !.1':'GW', '02 !.1':'SW', '03 !.1':'BW', '01 !.2':'GT', '02 !.2':'ST', '03 !.2':'BT', 'Total':'TS', 'Total.1':'TW'}),inplace=True,
)
df.iloc[94] # Takes integer, [0] would print the first row, as well as [0,:]
df.iloc[136] # Only outputs the last command

№ Summer          20
GS                 2
SS                 2
BS                 6
TS                10
№ Winter           1
GW                 0
SW                 0
BW                 0
TW                 0
№ Games           21
GT                 2
ST                 2
BT                 6
Combined total    10
Name: Uruguay (URU), dtype: int64

### Sort Values

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("/content/olympics(1).csv",skiprows=1, index_col=0)
pd.set_option('display.max_rows',500)
df.rename(
    columns=({'01 !':'GS', '02 !':'SS', '03 !':'BS', '!':'S', '01 !.1':'GW', '02 !.1':'SW', '03 !.1':'BW', '01 !.2':'GT', '02 !.2':'ST', '03 !.2':'BT', 'Total':'TS', 'Total.1':'TW'}),inplace=True,
)
# df.sort_values(by='GW') # Displays it in lowest to highest according to GW
x = df.sort_values(by='GW', ascending = False) # Displays in highest to lowest
x.iloc[0:6] # Displays top 5 nations with most GWs

                                     № Summer    GS  ...    BT  Combined total
Totals                                     27  4809  ...  6078           17579
Norway (NOR) [Q]                           24    56  ...   143             477
United States (USA) [P] [Q] [R] [Z]        26   976  ...   750            2681
Soviet Union (URS) [URS]                    9   395  ...   355            1204
Germany (GER) [GER] [Z]                    15   174  ...   270             782
Canada (CAN)                               25    59  ...   173             449

[6 rows x 15 columns]

### Ranking

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("/content/olympics(1).csv",skiprows=1, index_col=0)
pd.set_option('display.max_rows',500)
df.rename(
    columns=({'01 !':'GS', '02 !':'SS', '03 !':'BS', '!':'S', '01 !.1':'GW', '02 !.1':'SW', '03 !.1':'BW', '01 !.2':'GT', '02 !.2':'ST', '03 !.2':'BT', 'Total':'TS', 'Total.1':'TW'}),inplace=True,
)
df['№ Winter'].rank(ascending=False) # Ranks countries from medals

Afghanistan (AFG)                               125.0
Algeria (ALG)                                    82.5
Argentina (ARG)                                  21.5
Armenia (ARM)                                    63.0
Australasia (ANZ) [ANZ]                         125.0
Australia (AUS) [AUS] [Z]                        21.5
Austria (AUT)                                     7.0
Azerbaijan (AZE)                                 74.0
Bahamas (BAH)                                   125.0
Bahrain (BRN)                                   125.0
Barbados (BAR) [BAR]                            125.0
Belarus (BLR)                                    63.0
Belgium (BEL)                                    15.5
Bermuda (BER)                                    50.0
Bohemia (BOH) [BOH] [Z]                         125.0
Botswana (BOT)                                  125.0
Brazil (BRA)                                     50.0
British West Indies (BWI) [BWI]                 125.0
Bulgaria (BUL) [H]                               18.5
Burundi (BDI)                                   125.0
Cameroon (CMR)                                   97.0
Canada (CAN)                                      7.0
Chile (CHI) [I]                                  27.5
China (CHN) [CHN]                                37.5
Colombia (COL)                                   97.0
Costa Rica (CRC)                                 63.0
Ivory Coast (CIV) [CIV]                         125.0
Croatia (CRO)                                    50.0
Cuba (CUB) [Z]                                  125.0
Cyprus (CYP)                                     37.5
Czech Republic (CZE) [CZE]                       63.0
Czechoslovakia (TCH) [TCH]                       27.5
Denmark (DEN) [Z]                                32.5
Djibouti (DJI) [B]                              125.0
Dominican Republic (DOM)                        125.0
Ecuador (ECU)                                   125.0
Egypt (EGY) [EGY] [Z]                            97.0
Eritrea (ERI)                                   125.0
Estonia (EST)                                    41.0
Ethiopia (ETH)                                   88.5
Finland (FIN)                                     7.0
France (FRA) [O] [P] [Z]                          7.0
Gabon (GAB)                                     125.0
Georgia (GEO)                                    63.0
Germany (GER) [GER] [Z]                          34.5
United Team of Germany (EUA) [EUA]               82.5
East Germany (GDR) [GDR]                         63.0
West Germany (FRG) [FRG]                         63.0
Ghana (GHA) [GHA]                                97.0
Great Britain (GBR) [GBR] [Z]                     7.0
Greece (GRE) [Z]                                 21.5
Grenada (GRN)                                   125.0
Guatemala (GUA)                                  97.0
Guyana (GUY) [GUY]                              125.0
Haiti (HAI) [J]                                 125.0
Hong Kong (HKG) [HKG]                            77.5
Hungary (HUN)                                     7.0
Iceland (ISL)                                    24.5
India (IND) [F]                                  41.0
Indonesia (INA)                                 125.0
Iran (IRI) [K]                                   37.5
Iraq (IRQ)                                      125.0
Ireland (IRL)                                    63.0
Israel (ISR)                                     63.0
Italy (ITA) [M] [S]                               7.0
Jamaica (JAM) [JAM]                              50.0
Japan (JPN)                                      15.5
Kazakhstan (KAZ)                                 63.0
Kenya (KEN)                                      82.5
North Korea (PRK)                                44.5
South Korea (KOR)                                24.5
Kuwait (KUW)                                    125.0
Kyrgyzstan (KGZ)                                 63.0
Latvia (LAT)                                     37.5
Lebanon (LIB)                                    27.5
Liechtenstein (LIE)                              21.5
Lithuania (LTU)                                  44.5
Luxembourg (LUX) [O]                             44.5
Macedonia (MKD)                                  74.0
Malaysia (MAS) [MAS]                            125.0
Mauritius (MRI)                                 125.0
Mexico (MEX)                                     44.5
Moldova (MDA)                                    63.0
Mongolia (MGL)                                   32.5
Montenegro (MNE)                                 88.5
Morocco (MAR)                                    63.0
Mozambique (MOZ)                                125.0
Namibia (NAM)                                   125.0
Netherlands (NED) [Z]                            15.5
Netherlands Antilles (AHO) [AHO] [I]             88.5
New Zealand (NZL) [NZL]                          30.0
Niger (NIG)                                     125.0
Nigeria (NGR)                                   125.0
Norway (NOR) [Q]                                  7.0
Pakistan (PAK)                                   88.5
Panama (PAN)                                    125.0
Paraguay (PAR)                                   97.0
Peru (PER) [L]                                   88.5
Philippines (PHI)                                77.5
Poland (POL)                                      7.0
Portugal (POR)                                   50.0
Puerto Rico (PUR)                                63.0
Qatar (QAT)                                     125.0
Romania (ROU)                                    15.5
Russia (RUS) [RUS]                               63.0
Russian Empire (RU1) [RU1]                      125.0
Soviet Union (URS) [URS]                         41.0
Unified Team (EUN) [EUN]                         97.0
Saudi Arabia (KSA)                              125.0
Senegal (SEN)                                    74.0
Serbia (SRB) [SRB]                               88.5
Serbia and Montenegro (SCG) [SCG]                82.5
Singapore (SIN)                                 125.0
Slovakia (SVK) [SVK]                             63.0
Slovenia (SLO)                                   50.0
South Africa (RSA)                               63.0
Spain (ESP) [Z]                                  18.5
Sri Lanka (SRI) [SRI]                           125.0
Sudan (SUD)                                     125.0
Suriname (SUR) [E]                              125.0
Sweden (SWE) [Z]                                  7.0
Switzerland (SUI)                                 7.0
Syria (SYR)                                     125.0
Chinese Taipei (TPE) [TPE] [TPE2]                34.5
Tajikistan (TJK)                                 77.5
Tanzania (TAN) [TAN]                            125.0
Thailand (THA)                                   82.5
Togo (TOG)                                       97.0
Tonga (TGA)                                      97.0
Trinidad and Tobago (TRI) [TRI]                  82.5
Tunisia (TUN)                                   125.0
Turkey (TUR)                                     27.5
Uganda (UGA)                                    125.0
Ukraine (UKR)                                    63.0
United Arab Emirates (UAE)                      125.0
United States (USA) [P] [Q] [R] [Z]               7.0
Uruguay (URU)                                    97.0
Uzbekistan (UZB)                                 63.0
Venezuela (VEN)                                  77.5
Vietnam (VIE)                                   125.0
Virgin Islands (ISV)                             50.0
Yugoslavia (YUG) [YUG]                           31.0
Independent Olympic Participants (IOP) [IOP]    125.0
Zambia (ZAM) [ZAM]                              125.0
Zimbabwe (ZIM) [ZIM]                             97.0
Mixed team (ZZX) [ZZX]                          125.0
Totals                                            7.0
Name: № Winter, dtype: float64

### Creating a dataframe from a Python Dictionary

In [ ]:
import pandas as pd
import numpy as np
Numbers = {'Evens':[2,4,6,8,10], 'Odds':[1,3,5,7,9]}
df = pd.DataFrame.from_dict(Numbers)
df2 = pd.DataFrame(Numbers) # This and the upper statement mean the same thing


df2

   Evens  Odds
0      2     1
1      4     3
2      6     5
3      8     7
4     10     9

### Creating another dataframe

In [ ]:
import pandas as pd
import numpy as np
Collection = {'Album Name':['The Stone Roses', 'Definitely Maybe', 'The Queen is Dead'], 'Band Name':['The Stone Roses', 'Oasis', 'The Smiths'], 'Year':[1989,1994,1986]}
df = pd.DataFrame.from_dict(Collection)
df

          Album Name        Band Name  Year
0    The Stone Roses  The Stone Roses  1989
1   Definitely Maybe            Oasis  1994
2  The Queen is Dead       The Smiths  1986

### Appending to a DataFrame

In [ ]:
import pandas as pd
import numpy as np
Collection = {'Album Name':['The Stone Roses', 'Definitely Maybe', 'The Queen is Dead'], 'Band Name':['The Stone Roses', 'Oasis', 'The Smiths'], 'Year':[1989,1994,1986]}
df = pd.DataFrame.from_dict(Collection)

New = {'Album Name':'What\'s the Story', 'Band Name':'Morning Glory'}
real = df.append(New, ignore_index = True) # Adds new row to it
real

          Album Name        Band Name    Year
0    The Stone Roses  The Stone Roses  1989.0
1   Definitely Maybe            Oasis  1994.0
2  The Queen is Dead       The Smiths  1986.0
3   What's the Story    Morning Glory     NaN